*{
	margin: 0px;
	padding: 0px;
}
#wrap{
	border: solid black 2px;
	margin: 20px auto;
	text-align: left;

}

body{
	border: solid black 2px;
	background-color: #D6EAF8;
}

#top_header{
	text-align: center;
	font-size: 30px;
	font-family: cursive;
	padding: 10px;
}
#footer{
	text-align: center;
	font-size: 50px;

}
#buttons{
	margin: 45px 20px;
	font-size: 100px;
}

#head1{
	font-style: italic;
	font-size: 20px;
	padding-left: 20px;
	font-weight: bold;
}

#b1,#b2,#b3,#b4{
	font-size: 60px;
	font-family: cursive;
	padding: 5px;
	background-color: yellow;

}

#li1{
	margin: 10px 0px;
}

#li2{
	margin: 30px 0px;
}

img {
	padding-right: 30px;
}

#main_header{
border: solid black 2px;
}

#footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid black;
}

#obj{
	border-left: solid black 2px;
	float: right;
	width: 200px;
	height: 385px;
	padding: 100px;
	padding-right: 700px;

}

#h1{
	font-size: 40px;
}
#p1{
	font-size: 22px;
	font-family: cursive;
}
li{
	font-size: 30px;
}